@page "/"


<PageTitle>Velkommen</PageTitle>

<NavLink class="nav-link" href="booking">
    <span class="oi oi-home" aria-hidden="true"></span> Kunde
</NavLink>

<NavLink class="nav-link" href="pedel">
    <span class="oi oi-home" aria-hidden="true"></span> Pedel
</NavLink>



@code {

}

