@page "/pedel"
@using miniProjektShelter.Shared;
@using miniProjektShelter.Client.Services;

<NavLink class="nav-link" href="booking">
    <span class="oi oi-home" aria-hidden="true"></span> Booking
</NavLink>

<h1>Pedel side</h1>

<h4>Kommune</h4>
<label for="lang">Vælg kommune</label>
<select name="kommuneSelector" id="kommuneSelector" @bind="chosenKommune">
    @foreach (var navn in KommuneList)
    {
        <option value=@navn>@navn</option>
    }
</select>

<table class="table">
    <thead>
        <tr>
            <th>KommuneNavn</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Antal pladser</th>
            <th>Handicap egnet</th>
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Booking in BookingerList)
        {

            <tr>
                <td>@Booking.CostumerName</td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<Shelter> SheltersList = new List<Shelter>();
    private List<CostumerBooking> BookingerList = new List<CostumerBooking>();
    private List<string> KommuneList = new List<string>();
    private List<Shelter> SheltersToShow = new List<Shelter>();

    private string chosenKommune = "Samsø kommune";


    [Inject]
    public IShelterService? Service { get; set; }
    protected override async Task OnInitializedAsync()
    {
        SheltersList = (await Service!.GetAllItems())!.ToList();
        BookingerList = (await Service!.GetAllBookings())!.ToList();

        foreach (Shelter shelterX in SheltersList)
        {
            if (!KommuneList.Contains(shelterX.Properties.KommuneNavn!))
            {
                KommuneList.Add(shelterX.Properties.KommuneNavn!);
            }
        }
    }

}

